@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (@User.IsInRole("Administrador"))
        {
            <li class="nav navbar-nav navbar-left" id="AlinearInventario">
                <a title="Inventario" href='/Administrador/ListarInventario'>
                    <img src="~/Inventario.png" width="70" height="60" alt="Inventario" />
                </a>
            </li>



            <li class="nav navbar-nav navbar-left">
                <a title="Inventario" href='/Identity/Account/Register'>
                    <img src="~/Clientes.png" width="70" height="60" alt="Inventario" />
                </a>
            </li>



            <li class="nav navbar-nav navbar-left">
                <a title="Personas" href='/Administrador/ListarPersonas'>
                    <img src="~/Inventario.png" width="70" height="60" alt="Clientes" />
                </a>
            </li>

        }
        else if (@User.IsInRole("Empleado"))
        {
            <li class="nav navbar-nav navbar-left" id="AlinearFactura">
                <a title="Factura" href='/Usuario/VentanaPrincipal'>
                    <img src="~/Factura.png" width="70" height="60" alt="Factura" />
                </a>
            </li>
            <li class="nav navbar-nav navbar-left" id="AlinearClientes">
                <a title="Clientes" href='/Usuario/VentanaPrincipal'>
                    <img src="~/Clientes.png" width="70" height="60" alt="Clientes" />
                </a>
            </li>
        }

        <li class="nav-item">
            <a style="color: black; font-family:'Radley'; margin-left: 10px; font-size: 20px; font-weight:bold" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> Cuenta @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("PortalPrincipal", "PantallaPrincipal", new { area = "" })">
                <button style="color: black; font-family:'Radley'; margin-left: 10px; ;font-size: 20px; font-weight:bold" type="submit" class="nav-link btn btn-link ">Salir</button>
            </form>
        </li>
    }
    else
    {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" style="color:white; font-size: 20px" asp-area="" asp-controller="PortalPrincipal" asp-action="PantallaPrincipal">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white ; font-size: 20px" asp-area="" asp-controller="PortalPrincipal" asp-action="PantallaPrincipal">Contactenos</a>
            </li>
        </ul>
        <li class="nav-item">
            <a style="color: white; font-family:Calibri; font-size: 20px; font-weight:normal" href='/Identity/Account/Login' class="btn btn-success"> Iniciar Sesión</a>
        </li>
    }
</ul>
