@model Proyecto_Analisis_Final_20202.Models.ModeloNuevaCuentaEmpresarial

@{
    ViewData["Title"] = "PantallaPrincipal";
}

<link href="~/css/Principal.css" rel="stylesheet" />

<hr />
<div class="row">

    <div class="col">
        <h1 style=" font-family:'Radley'">Nuestra Visión</h1>
        <h4 style=" font-family:'Radley'">Ser Lo Mejor En El Servicio Al Cliente</h4>
        <img src="~/Copia.png" id="FotosServicioalCliente" />

    </div>

    <cente  style=" font-family:'Radley'" class="col-4" id="VentanaRegistrar">
        <center><h2>Registrar</h2></center>

        <form asp-action="PantallaPrincipal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Cedula" class="form-control" placeholder="Cédula Jurídica" style="text-align:center" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NombreCompleto" class="form-control" placeholder="Nombre Completo" style="text-align:center" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NumeroTelefonico" class="form-control" placeholder="Teléfono" style="text-align:center" />
                <span asp-validation-for="NumeroTelefonico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CorreoElectronico" class="form-control" placeholder="Correo Electrónico" style="text-align:center" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <center>
                <div class="form-group align-items-center">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </center>


        </form>
</div>



