
@{
    ViewData["Title"] = "PantallaPrincipal";
}

<link href="~/css/FondoPantalla.css" rel="stylesheet" />

<hr />
<div class="row">

    <div class="col">

        <h1 style=" font-family:'Radley'">Nuestra Visión</h1>
        <h4 style=" font-family:'Radley'">Ser Lo Mejor En El Servicio Al Cliente</h4>
        <img src="~/Copia.png" id="FotosServicioalCliente" />
    </div>

    <cente class="col-4" id="VentanaAuxiliar">
        <center style=" font-family:'Radley'"> <h2>Información de la Empresa</h2></center> <br>


        <h6 style="font-family: 'Radley'; font-size:15px  "> Cedula Jurídica: 3-102-129731 </h6><br>

        <h6 style="font-family: 'Radley'; font-size:15px  "> Nombre de la Empresa: TecSon SA </h6><br>

        <h6 style=" font-family: 'Radley';  font-size: 15px"> Número Telefónico: 2654 0123 - 2654 0018 </h6> <br>

        <h6 style=" font-family: 'Radley'; font-size: 15px "> Correo Electrónico: facturacionjjyf@gmail.com</h6> <br>

        <h6 style=" font-family: 'Radley'; font-size: 15px "> Razón Social: Resolver problemas sin solución de forma innovadora en su equipo de hardware y software; además de brindar equipo de calidad, manteniendo la calidad - precio.</h6> <br>
        <br />

</div>



