header {
    width: auto;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #0B73D5;
}

LogoEmpresa {
    position: absolute;
    width: 147px;
    height: 140px;
    left: 0px;
    top: 0px;
}



