@model Proyecto_Analisis_Final_20202.Models.Inventario

@{
    ViewData["Title"] = "AgregarInventario";
}


<link href="~/css/FondoPantalla.css" rel="stylesheet" />
<br />
<h1 style="text-align:center; font-family:'Radley'; font-weight:bold"> Datos del Producto </h1>


<hr /> 
@if (ViewBag.Accion == "Total")
{
<form asp-action="AgregarInventario">
    <div class="row" style=" font-family:'Radley'; font-weight:bold ">

        <div class="container">

            <div class="row align-items-start">
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="Codigo_Prodcuto" class="control-label"></label></center>
                        <input asp-for="Codigo_Prodcuto" class="form-control" placeholder="C0978" />
                        <span asp-validation-for="Codigo_Prodcuto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="Nombre" class="control-label"></label></center>
                        <input asp-for="Nombre" class="form-control" placeholder="Arroz" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="Descripcion" class="control-label"></label></center>
                        <input asp-for="Descripcion" class="form-control" placeholder="Luisiana 99%, 1kg" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <center> <label asp-for="PrecionDeCompra" class="control-label"></label></center>
                        <input asp-for="PrecionDeCompra" class="form-control" placeholder="900,01" />
                        <span asp-validation-for="PrecionDeCompra" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="PrecionDeVenta" class="control-label"></label></center>
                        <input asp-for="PrecionDeVenta" class="form-control" placeholder="1545,56" />
                        <span asp-validation-for="PrecionDeVenta" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center> <label asp-for="Cantidad_Disponible" class="control-label"></label></center>
                        <input asp-for="Cantidad_Disponible" class="form-control" placeholder="10" />
                        <span asp-validation-for="Cantidad_Disponible" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col">
                    <br />
                    <a asp-action="ListarInventario" style="text-align:center; font-family:'Radley'; width: 100px ; height:45px" class="btn btn-primary">Volver</a>
                </div>
                <div class="col" style="text-align:center">
                    <br />
                    <input style="text-align:center; font-family:'Radley';  width: 100px ; height:45px" type="submit" value="Crear" class="btn btn-success" />
                </div>
                <div class="col">

                </div>
            </div>
        </div>

    </div>

</form>
}
else 
{
<form asp-action="AgregarInventarioDisponible">
    <div class="row" style=" font-family:'Radley'; font-weight:bold ">

        <div class="container">

            <div class="row align-items-start">
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="Codigo_Prodcuto" class="control-label"></label></center>
                        <input asp-for="Codigo_Prodcuto" class="form-control" placeholder="C0978" />
                        <span asp-validation-for="Codigo_Prodcuto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="Nombre" class="control-label"></label></center>
                        <input asp-for="Nombre" class="form-control" placeholder="Arroz" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="Descripcion" class="control-label"></label></center>
                        <input asp-for="Descripcion" class="form-control" placeholder="Luisiana 99%, 1kg" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <center> <label asp-for="PrecionDeCompra" class="control-label"></label></center>
                        <input asp-for="PrecionDeCompra" class="form-control" placeholder="900,01" />
                        <span asp-validation-for="PrecionDeCompra" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="PrecionDeVenta" class="control-label"></label></center>
                        <input asp-for="PrecionDeVenta" class="form-control" placeholder="1545,56" />
                        <span asp-validation-for="PrecionDeVenta" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center> <label asp-for="Cantidad_Disponible" class="control-label"></label></center>
                        <input asp-for="Cantidad_Disponible" class="form-control" placeholder="10" />
                        <span asp-validation-for="Cantidad_Disponible" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col">
                    <br />
                    <a asp-action="ListarProductosDisponibles" style="text-align:center; font-family:'Radley'; width: 100px ; height:45px" class="btn btn-primary">Volver</a>
                </div>
                <div class="col" style="text-align:center">
                    <br />
                    <input style="text-align:center; font-family:'Radley';  width: 100px ; height:45px" type="submit" value="Crear" class="btn btn-success" />
                </div>
                <div class="col">

                </div>
            </div>
        </div>

    </div>

</form>
}




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
