@model Proyecto_Analisis_Final_20202.Models.Inventario

@{
    ViewData["Title"] = "EditarProducto";
}

<link href="~/css/FondoPantalla.css" rel="stylesheet" />
<br />

<h1 style="text-align:center; font-family:'Radley'" >Datos del Producto</h1>

<hr />
<div  style=" font-family: 'Radley' ; font-weight: bold " >
        <form asp-action="EditarProducto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Codigo_Producto" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ID_Categoria" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ID_Estado" />
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="Nombre" class="control-label"></label></center>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="Descripcion" class="control-label"></label></center>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <center> <label asp-for="PrecionDeCompra" class="control-label"></label></center>
                        <input asp-for="PrecionDeCompra" class="form-control" />
                        <span asp-validation-for="PrecionDeCompra" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center><label asp-for="PrecionDeVenta" class="control-label"></label></center>
                        <input asp-for="PrecionDeVenta" class="form-control" />
                        <span asp-validation-for="PrecionDeVenta" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <center> <label asp-for="Cantidad_Disponible" class="control-label"></label></center>
                        <input asp-for="Cantidad_Disponible" class="form-control" />
                        <span asp-validation-for="Cantidad_Disponible" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <div class="col-4">
                    <a asp-action="ListarInventario" style=" font-family:'Radley'" class="btn btn-primary">Volver</a>
                </div>
                <div class="col-4" style="text-align:center">
                    <br />
                    <input type="submit" value="Actualizar" class="btn btn-success" />
                </div>
                <div class="col-4">
                </div>
            </div>

        </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
